@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom Utilities if needed but mostly in Tailwind config */
.text-gold-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-gold-600 to-gold-400;
}